body {
  padding: 20px;
  background-image: url("squig.jpg");
}

#titleName {
  color: turquoise;
  font: helvetica;
  font-size: 72;
}

#main {
  color: turquoise;
  font: helvetica;
  font-size: 36;
  display: inline-block;
}

#divnotes {
  color: turquoise;
  font-size: 16;
}

#clock {
  font-size: 48;
  width: 300px;
  height: 170px;
  background-color: white; 
  text-align: center;
  display: block;
  margin: auto;
}

.post {
  display: inline-block;
  width: 400px;
  height: 600px;
  background-color: white; 
  float: left;
  margin-right: 10px;
  z-index: 1;
}
.notesTitle {
  font-size: 24;
}

.goal {
  font-size: 32;
  text-align: center;
  display: inline-block;
  color: turquoise;
  width: 400px;
  height: 400px;
  background-color: white; 
  vertical-align: top;
}
.stuff {
  text-align: right;
  font-size: 24;
  color: gray;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 24;
}

.mbdropdown:hover .dropdown-content {
    display: block;
}

