dash==1.11.0
pandas==1.0.3
tqdm==4.43.0
geopy==1.21.0
requests==2.23.0
dill==0.3.1.1
ipython==7.13.0
xlrd==1.1.0  # Pandas dependency to read excel files
dash-bootstrap-components==0.9.2
anytree==2.8.0
flask_login==0.4.1
