<html>
        <title>OSFI</title>
        <link rel="StyleSheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="index.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1 id="titleName">OSFI</h1> 
         <div data-role="page" id="main">
            </div>
            <br>
            <form action="helper" method="POST" enctype="multipart/form-data">
            <select id="services" name="services">
                <option value="1">Routes</option>
                <option value="2">Ports maritimes et littoral</option>
                <option value="3">Phares et balises</option>
                <option value="4">Prevention des pollutions</option>
                <option value="5">Protection de la nature et des paysages</option>
                <option value="6">Direction de l'eau</option>
                <option value="7">MEEDDAT (services centraux)</option>
                <option value="8">MEEDDAT (services sociaux)</option>
                <option value="9">MEEDDM (services déconcentrés)</option>
                <option value="10">Affaires maritimes (services déconcentrés)</option>
                <option value="11">Éducation routière (services déconcentrés)</option>
                <option value="12">DIR - Direct. Interdépart. des Routes</option>
                <option value="13">DIRM- Direction interrégionale de la mer -DIRM</option>
                <option value="14">DREAL</option>
                <option value="15">DEAL</option>
                <option value="16">DRIEA IDF</option>
                <option value="17">SNOI - Service national des oléoducs interallié</option>
                <option value="18">TRAPIL</option>
                <option value="19">Culture marine</option>
                <option value="20">Domaine remis aux collectivités territ.- Lois de décentralisation</option>
                <option value="21">AVIATION CIVILE - Domaine régalien</option>
                <option value="22">AVIATION CIVILE - Contrôle et Exploitation Aériens</option>
                <option value="23">Chemins de fer</option>
                <option value="24">Foncier d'origine routière en Île de France</option>
                <option value="25">Aménagement foncier</option>
                <option value="26">MINISTERE ECOLOGIE, DEVELOPPEMENT DURABLE, TRANSPORT ET LOGEMENT</option>
            </select>

            <select id="region" name="regions">
                <option value="Auvergne Rhone Alpes">Auvergne Rhone Alpes</option>
                <option value="Bourgogne Franche Comte">Bourgogne Franche Comte</option>
                <option value="Bretagne">Bretagne</option>
                <option value="Centre Val de Loire">Centre Val de Loire</option>
                <option value="Corse">Corse</option>
                <option value="Grand Est">Grand Est</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guyane">Guyane</option>
                <option value="Hauts de France">Hauts de France</option>
                <option value="Ile de France">Ile de France</option>
                <option value="La Reunion">La Reunion</option>
                <option value="Martinique">Martinique</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Normandie">Normandie</option>
                <option value="Nouvelle Aquitaine">Nouvelle Aquitaine</option>
                <option value="Occitanie">Occitanie</option>
                <option value="Pays de la Loire">Pays de la Loire</option>
                <option value="Provence Alpes Cote d Azur">Provence Alpes Cote d Azur</option>
                <option value="Saint Pierre et Miquelon">Saint Pierre et Miquelon</option>
            </select>
           <input type="submit" value="Calculer">
        </form>
         </div><!-- /page -->
    </body>
</html>



